body{
    background: linear-gradient(180deg, rgb(89, 16, 89) 0%,
        rgba(45, 6, 45,1) 60%);
}

#grid-container{
    display: grid;
    color: white;
    grid-template-columns: 700px;
    grid-template-columns: auto;
    min-height: 100vh;
    justify-content: center;
    grid-template-areas: 
    'header'
    'navbar'
    'content-block'
    'footer';
}

.grid-item{
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    background-color: rgb(43, 40, 40);
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}

#header{
    margin-top: 20px;
    grid-area: header;
    height: 100px;
}

#nav-bar{
    grid-area: navbar;
    height: 50px;
}

ul{
    list-style-type: none;
}

#nav-bar ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

#nav-bar ul li{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    transition: 0.30s;
    cursor: pointer;
}

#nav-bar ul li a{
    text-decoration: none;
    color: white;
}

#nav-bar ul li:hover{
    background-color: black;
}

#content-block{
    height: 400px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.content-block-item{
    background-color: rgb(43, 40, 40);
    line-height: 133px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    display: inline-block;
    border-bottom: 1px solid gray;
}


p{
    display: inline;
}


#lorem-text{
    opacity: 1;
}

button{
    background-color: orange;
    font-weight: bold;
    height: 32px;
    min-width: 60px;
    border-radius: 120px;
    border: 2px solid black;
    cursor: pointer;
}

button:active{
    transform: translateY(2px);
}

#array-div{
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-bottom: none;
}


#array-div ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

#array-div ul li{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    line-height: 50px;
    transition: 0.30s;
    cursor: pointer;
}

#footer{
    height: 100px;
    grid-area: footer;
    line-height: 100px;
}